:root{
  --cyan: hsl(179, 62%, 43%);
  --brightyellow: hsl(71, 73%, 54%);
  --lightgray: hsl(204, 43%, 93%);
  --grayishblue: hsl(218, 22%, 67%);
  --border:0px;
}
html{
    font-size: 16px;
    font-family: Karla;
}
*{
    margin: 0;
    padding: 0;
}
.border{
    border-radius: 7px;
    overflow: hidden;
}
body{
    background-color: var(--lightgray);
}
p{
    color: var(--grayishblue);
    line-height: 2em;
    font-size: 1.5rem;
}
.card{
    padding: 2em 2.5em;
    margin: 0;
}
.card *{
    margin: 1em auto;
}
.whiteCard{
    background-color: white;
}
.whiteCard h1{
    color: var(--cyan);
    font-weight: 700;
}
.whiteCard h2{
    color: var(--brightyellow);
}
.darkcyanCard{
    background-color: var(--cyan);
    color: white;
}
.darkcyanCard p{
    color: rgba(255, 255, 255, 0.589);
    font-size: 1.5em;
}
.darkcyanCard span{
    font-size: 3em;
    color: white;
    font-weight: 700;
}
.darkcyanCard h2{
    color: rgba(255, 255, 255, 0.808);
}
.darkcyanCard a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
.darkcyanCard .button{
    text-align: center;
    background-color: var(--brightyellow);
    padding: 0.8125em;
    box-shadow: 4px 20px 30px 0px rgba(0, 0, 0, 0.164) ;
    border-radius: 7px;
    transition: ease-out 0.5s;
    border: solid 3px var(--brightyellow);
}
.flex{
    display: flex;
    align-items: center;
}
.flex *{
    margin: 0;
    padding-right: 1rem;
}
h1{
    font-size: 2em;
}
.cyanCard{
    background-color: #4abebd;
    color: white;
}
ul{
    list-style-type: none;
}
ul *{
    color: rgba(255, 255, 255, 0.808);
    margin: 0.5em auto!important;
}
.button:hover{
    transform: translate(0, -5px);
    transition: ease-in 0.3s;
    color: var(--brightyellow);
    background-color: white;
    border: solid 3px var(--brightyellow) ;
}
/* Mobile */
@media (max-width:875px){
    section{
        padding: 6em 2em;
        display: grid;
    }
    .whiteCard{
        border-top-left-radius: var(--border);
        border-top-right-radius: var(--border);
    }
    .cyanCard{
        border-bottom-left-radius:var(--border);
        border-bottom-right-radius: var(--border);
    }
}
/* Desktop */
@media (min-width:875px){
    .desktop{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    section{
        margin: 10vh 25vw;
    }
    .whiteCard{
        border-top-left-radius: var(--border);
        border-top-right-radius: var(--border);
    }
    .darkcyanCard{
        border-bottom-left-radius: var(--border);
    }
    .cyanCard{
        border-bottom-right-radius: var(--border);
    }
}
@media (max-width:970px){
    .darkcyanCard span{
        font-size: 32px;
    }
}
@media (max-width:1250px){
    .darkcyanCard{
        font-size: 12px;
    }
}


